<div class="detail_user">
  <div class="container">
      <div class="row ">
          <div class="col-sm-6 info1 ">
            <h4 style="padding-left: 35px">Ảnh đại diện</h4>
            <div>
            <img class="avatar" src="../../../../assets/avatar.jpg" alt="avatar">
          </div>
            <a routerLink="#" style="padding-left: 70px;">Thay ảnh</a>
          </div>
          <div class="col-sm-6 info2 ">
            <h5 class="ptitle"> Thông tin cá nhân </h5>
            <hr>
            <ul *ngIf="lender" class="ullist">
              <li>FullName: {{lender.name}}</li>
              <li>UserName: {{lender.username}}</li>
              <li>Sex:</li>
              <li>Date:</li>
              <li>Email: {{lender.email}}</li>
              <li>Phone: {{lender.phone}}</li>
              <li>Address: {{lender.address}}</li>
            </ul>
            <button> Edit </button>
            <button> Delete</button>
          </div>
        </div>         
    <h5 class="ptitle">Thông tin chi tiết kho hàng</h5>
    <hr>
    <ul class="ullist">
      <li>Số vị trí đã thuê:<b> Block 1</b></li>
      <li>Tổng diện tích còn lại: 200m2 (20 %)</li>
      <li>Tần suất nhập hàng:</li>
      <li>Tần suất xuất hàng:</li>
    </ul>
  </div>
</div>