<div class="detail_user">
  <div class="container">
      <div class="row ">
          <div class="col-sm-6 info1 ">
            <h4 style="padding-left: 35px">Ảnh đại diện</h4>
            <div>
            <img class="avatar" src="../../../../assets/avatar.jpg" alt="avatar">
          </div>
            <a routerLink="#" style="padding-left: 70px;">Thay ảnh</a>
          </div>
          <div class="col-sm-6 info2 ">
            <h5 class="ptitle"> Thông tin cá nhân </h5>
            <hr>
            <ul class="ullist">
              <li>Họ tên:</li>
              <li>Giới tính:</li>
              <li>Ngày sinh:</li>
              <li>Chức vụ:</li>
              <li>Email:</li>
              <li>Số điện thoại:</li>
              <li>Địa chỉ:</li>
            </ul>
            <button> Sửa </button>
            <button> Xóa</button>
          </div>
        </div>         
    <h5 class="ptitle">Thông tin chi tiết kho hàng</h5>
    <hr>
    <ul class="ullist">
      <li>Số vị trí đã thuê:</li>
      <li>Tổng diện tích còn lại: (số %)</li>
      <li>Tần suất nhập hàng:</li>
      <li>Tần suất xuất hàng:</li>
    </ul>
  </div>
</div>