<div>
  <div class="container">
    <div class="col singin">
      <div id="logbox">
        <form [formGroup]="loginForm" (ngSubmit)="Login()">
          <h1>Đăng Nhập</h1>
          <input formControlName="username"  type="text" placeholder="Tên đăng nhập" autofocus="autofocus"
            required="required" class="input pass" />
          <input formControlName="password" type="password" placeholder="Mật khẩu" required="required" class="input pass" />
          <input type="submit" value="Đăng nhập" class="inputButton" />
        </form>
      </div>
    </div>
  </div>
</div>