.las{
    margin-bottom: 30px;
}
.diagram {
    margin-top: 115px;
}
.ptitle{
    text-align: center;
    padding-top: 20px;
}
.info{
    border-radius: 3%;
    background-color: white;
    box-shadow: 5px 5px 15px;
}
.info p{
    font-weight: 500;
}

.imgdg{
    display: block;
    height: auto;
    max-width: 95%;
    
}
.imgif{
    padding: 0px;
    background-image: url(../../../../assets/info.jpg);
    background-position: center;
    clip-path: polygon(0% 0%, 98% 0%, 97.5% 100%, 0% 100%, 0% 50%);
}
.imgbox{
    height:440px;
    margin:0 auto;
    position:relative;
}
.imgbox img{
    margin:auto;
    position:absolute;
    top:0; left:0; right:0; bottom:0;
}

.infomation img {
float: right;
}

.jumbotron{
    background-color: #f8f9fa;
    box-shadow: 5px 5px 15px;
    width: 1400px !important;
    background-image: linear-gradient(
      to right bottom ,
      rgba(126,213,111,0.8),
      rgba(40,180,131,0.8)
    );
}

.card{
    box-shadow: 5px 5px 15px;
}