<body>
  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col=12 mt-3">
          <div class="row jumbotron ">
            <div class="col-3  info-1 ">
              <h5 class="ptitle"> Thông tin khu vực </h5>
              <hr>
              <p>Tên khu vực: </p>
              <p>Diện tích: </p>
              <p>Vị trí: </p>
            </div>
            <div class="col-6 diagram">
              <img (click)="myClickFunction($event)" class="imgdg" src="../../../assets/diagram.jpg" alt="sơ đồ">
            </div>
            <div class="col-3 info-2 ">
              <h5 class="ptitle"> Chi tiết khu vực </h5>
              <hr>
              <p>% diện tích còn lại: </p>
              <p>Thời hạn sử dụng: </p>
              <p>Lần nhập hàng gần nhất: </p>
              <p>Lần xuất hàng gần nhất:</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col mb-3">
        <div class="card">
          <div class="row ">
            <div class="col-sm-6 mb-3">
              <div class="card-body">
                <h4 class="card-title"><u>Ứng dụng Angular cho trang web quản lý nhà kho.</u></h4>
                <p class="card-text"><b>Công ty TNHH ABC</b> là công ty hàng đầu trong lĩnh vực cho thuê và quản lý nhà kho. Đến với chúng tôi bạn sẽ được cung cấp hệ thống kho hàng tiên tiến, bảo mật, mọi hoạt động liên quan đến vị trí kho của bạn sẽ được liên tục cập nhật nhanh nhất, giúp bạn nhanh dễ dàng quản lý. </p>
                <a href="#" class="btn btn-primary">Xem ngay</a>
              </div>
            </div>
            <div class="col-sm-6 mb-3 imgif">
              <img src="../../../assets/logo.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>