body {
    background-image: linear-gradient(to right, #77ff7e 0%, #7aff81 0%, #7fff8a 21%, #89f985 52%, #55cf5b 78%, #2ab152 100%);
}
.logo{
    width: 100px;
    height: 50px;
}

.info-1{
    border: 1px solid black;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    background-color: white;
}
.info-2{
    border: 1px solid black;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    background-color: white;
}
.ptitle{
    margin-top: 5%;
    text-align: center;
}
.diagram{
    padding: 0%;
    border: 1px solid black;
    background-color: white;
    
    
}
.imgdg{
    display: block;
    height: auto;
    max-width: 100%;
    
}