<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <a class="navbar-brand" href="#">
        <img class="logo" src="../../../assets/logo.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dịch vụ
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Liên Hệ</a>
              <a class="dropdown-item" href="#">Tư Vấn</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Hỗ trợ khách hàng</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Đăng nhập</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
      <div class="row jumbotron">
        <div class="col-3  info-1 ">
          <h5 class="ptitle"> Thông tin khu vực </h5>
          <hr>
          <p>Tên khu vực: </p>
          <p>Diện tích: </p>
          <p>Vị trí: </p>
        </div>
        <div class="col-6 diagram">
          <img class="imgdg" src="../../../assets/diagram1.png" alt="sơ đồ">
        </div>
        <div class="col-3 info-2 ">
          <h5 class="ptitle"> Chi tiết khu vực </h5>
          <hr>
          <p>% diện tích còn lại: </p>
          <p>Thời hạn sử dụng: </p>
          <p>Lần nhập hàng gần nhất: </p>
          <p>Lần xuất hàng gần nhất:</p>
        </div>
      </div>


      <!-- <div class="row justify-content-center">
            <div class="col=12 mt-3">
                <div class="jumbotron ">
                  <h1 class="display-4">Hello, world!</h1>
                  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                  <hr class="my-4">
                  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                  <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                  </p>
            </div>
         </div>
        </div> -->
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Giới thiệu về mô hình nhà kho</h5>
              <p class="card-text">một số thông tin cơ bản và seo</p>
              <a href="#" class="btn btn-primary">Xem ngay</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Các dịch vụ được cung cấp</h5>
              <p class="card-text">giới thiệu về các dịch vụ đi kèm</p>
              <a href="#" class="btn btn-primary">Xem ngay</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Các dịch vụ được cung cấp</h5>
              <p class="card-text">giới thiệu về các dịch vụ đi kèm</p>
              <a href="#" class="btn btn-primary">Xem ngay</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Các dịch vụ được cung cấp</h5>
              <p class="card-text">giới thiệu về các dịch vụ đi kèm</p>
              <a href="#" class="btn btn-primary">Xem ngay</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Các dịch vụ được cung cấp</h5>
              <p class="card-text">giới thiệu về các dịch vụ đi kèm</p>
              <a href="#" class="btn btn-primary">Xem ngay</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Các dịch vụ được cung cấp</h5>
              <p class="card-text">giới thiệu về các dịch vụ đi kèm</p>
              <a href="#" class="btn btn-primary">Xem ngay</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col=12 justify-content-center">
          <ul class="nav ">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>