body {
    background-image: linear-gradient(to right, #77ff7e 0%, #7aff81 0%, #7fff8a 21%, #89f985 52%, #55cf5b 78%, #2ab152 100%);
}
.ullist{
    padding-left: 0px;
    list-style: none;
}
.ptitle{
    margin-top: 5%;
    text-align: center;
}
.jumbotron{
    background-color: #f8f9fa;
    box-shadow: 5px 5px 15px;
    width: 1400px !important;
}
.avatar{
    border: 2px solid black;
    box-shadow: 5px 5px 15px;
    margin: 10px;
}
.info1{
padding: 30px 200px;
}
