<div class="admin_membership">
  <div>
<router-outlet></router-outlet>
</div>
  <div class="container">
    <div class="row">
      <div class="container">
        <h2 class="title">Danh sách nhân viên</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Họ tên</th>
              <th>Số Điện thoại</th>
              <th>Email</th>
              <th>Chức vụ</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> <a class="link" [routerLink]="['profilemembership']"> Mai Phước Lộc</a></td>
              <td>01207262959</td>
              <td>phuocloc_m@yahoo.com</td>
              <td>Admin</td>
              <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
              <td><i class="fa fa-trash" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>0123456789</td>
              <td>mary@example.com</td>
              <td>Nhân viên hỗ trợ</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
            <tr>
              <td>July</td>
              <td>0123456789</td>
              <td>july@example.com</td>
              <td>Nhân viên hỗ trợ</td>
              <td>Edit</td>
              <td>Delete</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
