<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6  info3">
        <h6>Giới thiệu</h6>
        <p class="text-justify" > <b>Công ty TNHH ABC</b> là công ty hàng đầu trong lĩnh vực cho thuê và quản lý nhà kho. Đến với chúng tôi bạn sẽ được cung cấp hệ thống kho hàng tiên tiến, bảo mật, mọi hoạt động liên quan đến vị trí kho của bạn sẽ được liên tục cập nhật nhanh nhất, giúp bạn nhanh dễ dàng quản lý. </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Dịch vụ</h6>
        <ul class="footer-links">
          <li><a href="#">Cho thuê diện tích kho</a></li>
          <li><a href="#">Cho thuê xe chở hàng</a></li>
          <li><a href="#">Tuyển nhân viên kho</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Liên hệ</h6>
        <ul class="footer-links">
          <li>Địa chỉ: 22/10 đường Dương Thị Mười, p.Tân Chánh Hiệp, q.12, TP.HCM </li>
          <li><i>Hotline: (+84)707262959</i></li>
          <li><i>Email: maiphuocloc@yahoo.com</i></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
</footer>