<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" routerLink="/home">
      <img class="logo" src="../../../assets/logo.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" (click)="signinclick = false">Trang chủ <span
              class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dịch vụ
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Cho thuê diện tích kho</a>
            <a class="dropdown-item" href="#">Cho thuê xe chở hàng</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Hỗ trợ khách hàng</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!signinclick" (click)="signinclick = !signinclick" routerLink="/signin">Đăng nhập</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="signinclick" (click)="signinclick = !signinclick" routerLink="/signup">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/detailuser">User</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
      </form>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Giới thiệu</h6>
          <p class="text-justify"> <b>Công ty TNHH ABC</b> là công ty hàng đầu trong lĩnh vực cho thuê và quản lý nhà kho. Đến với chúng tôi bạn sẽ được cung cấp hệ thống kho hàng tiên tiến, bảo mật, mọi hoạt động liên quan đến vị trí kho của bạn sẽ được liên tục cập nhật nhanh nhất, giúp bạn nhanh dễ dàng quản lý. </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Dịch vụ</h6>
          <ul class="footer-links">
            <li><a href="#">Cho thuê diện tích kho</a></li>
            <li><a href="#">Cho thuê xe chở hàng</a></li>
            <li><a href="#">Tuyển nhân viên kho</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Liên hệ</h6>
          <ul class="footer-links">
            <li><i>Hotline: (+84)707262959</i></li>
            <li><i>Email: maiphuocloc@yahoo.com</i></li>
            <li>Địa chỉ: 22/10 đường Dương Thị Mười, p.Tân Chánh Hiệp, q.12, TP.HCM </li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
</footer>