<div>
    <div class="container">

          <div class="row ">
            <div class="col-sm-6 info1 ">
              <h4 style="padding-left: 35px">Ảnh đại diện</h4>
              <div>
              <img class="avatar" src="../../../../assets/avatar.jpg" alt="avatar">
            </div>
              <a routerLink="#" style="padding-left: 70px;">Thay ảnh</a>
            </div>
            <div class="col-sm-6 info2 ">
              <h5 class="ptitle"> Thông tin cá nhân </h5>
              <hr>
              <ul *ngIf="emp" class="ullist">
                <li>Họ tên: {{emp.name}}</li>
                <li>Giới tính:</li>
                <li>Ngày sinh:</li>
                <li>Email: {{emp.email}}</li>
                <li>Số Điện Thoại: {{emp.phone}}</li>
                <li>Địa chỉ: {{emp.address}}</li>
              </ul>
              <button> Sửa </button>
              <button> Xóa</button>
            </div>
          </div>         

    </div>
  
  </div>