  <div class="detail_membership">
      <div class="container">
  
            <div class="row ">
              <div class="col-sm-6 info1 ">
                <h4 style="padding-left: 35px">Ảnh đại diện</h4>
                <div>
                <img class="avatar" src="../../../../assets/avatar.jpg" alt="avatar">
              </div>
                <a routerLink="#" style="padding-left: 70px;">Thay ảnh</a>
              </div>
              <div class="col-sm-6 info2 ">
                <h5 class="ptitle"> Thông tin cá nhân </h5>
                <hr>
                <ul  *ngIf="info" class="ullist">
                  <li>Full Name: {{info.name}}</li>
                  <li>UserName: {{info.username}}</li>
                  <li>Sex:</li>
                  <li>Date:</li>
                  <li>Email: {{info.email}}</li>
                  <li>Phone: {{info.phone}}</li>
                  <li>Address: {{info.address}}</li>
                </ul>
                <button> Edit </button>
                <button> Delete</button>
              </div>
            </div>         
  
      </div>
    
    </div>