<!-- Site header -->
<header>
  <div class="container">
    <nav>
      <h1 class="brand"><a routerLink="/home"><span>warehouse</span></a></h1>
      <ul>
        <li><a routerLink="/home">Trang Chủ</a></li>
        <li>
            <div class="dropdown">
                <a routerLink="#">Dịch Vụ<i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content">
                <a routerLink="#">Thuê diện tích kho</a>
                <a routerLink="#">Thuê xe chở hàng</a>
                <a routerLink="#">tuyển nhân viên kho</a>
                <a routerLink="#">liên hệ</a>
                <a routerLink="#">hỗ trợ</a>
                </div>
              </div>
        </li>
        <li><a  *ngIf="!AuthService.loggedIN()" routerLink="/signin">Đăng nhập</a></li>
        <li><a  *ngIf="!AuthService.loggedIN()" routerLink="/signup">Đăng Ký</a></li>
        <li><a  *ngIf="AuthService.loggedIN()" routerLink="/admin">Quản Lý</a></li>
        <li><a  *ngIf="AuthService.loggedIN()"(click)="logout()" >Đăng Xuất</a></li>
      </ul>
    </nav>
  </div>
</header>