<!-- Site header -->
<header>
  <div class="container">
    <nav>
      <h1 class="brand"><a routerLink="/home"><span>warehouse</span></a></h1>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li>
            <div class="dropdown">
                <a routerLink="#">Service<i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content">
                <a routerLink="#">cho thuê diện tích kho</a>
                <a routerLink="#">cho thuê xe chở hàng</a>
                <a routerLink="#">tuyển nhân viên kho</a>
                <a routerLink="#">liên hệ</a>
                <a routerLink="#">hỗ trợ</a>
                </div>
              </div>
        </li>
        <li><a  *ngIf="!AuthService.loggedIN()" routerLink="/signin">Login</a></li>
        <li><a  *ngIf="!AuthService.loggedIN()" routerLink="/signup">Register</a></li>
        <li><a  *ngIf="AuthService.loggedIN()" routerLink="/admin">Management</a></li>
        <li><a  *ngIf="AuthService.loggedIN()"(click)="logout()" >Logout</a></li>
      </ul>
    </nav>
  </div>
</header>